/* search.css */

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #ce73e0;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}

.search-results {
    flex: 3;
    background-color: #fff;
    padding: 20px;
}

.search-results h2 {
    margin-top: 0;
    color: #263343;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.search-results li:last-child {
    border-bottom: none;
}

.search-results h3 {
    margin-top: 0;
    color: #263343;
}

.search-filters {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
}

.search-filters h2 {
    margin-top: 0;
    color: #263343;
}

.search-filters form {
    margin-top: 20px;
}

.search-filters label {
    display: block;
    margin-bottom: 10px;
}

.search-filters select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.search-filters button {
    background-color: #263343;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.search-filters button:hover {
    background-color: #1a2633;
}

footer {
    background-color: #41b4d7;
    color: white;
    text-align: center;
    padding: 20px;
}

/* 검색창 스타일 */
.search-container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff; 
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 24px; /* 검색창과 버튼에 둥근 테두리 적용 */
    overflow: hidden; /* 둥근 테두리를 적용하기 위해 내용이 넘치는 것을 가림 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.search-form input[type="text"] {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 24px; /* 검색창에 둥근 테두리 적용 */
    background-color: #ffffff; /* 흰색 배경으로 변경 */
    font-size: 16px;
    outline: none; /* 포커스 시 테두리 제거 */
}

.search-form button {
    background-color: #ffffff; /* 흰색 배경으로 변경 */
    color: #757575; /* Google의 검색 버튼 색상과 유사하게 변경 */
    padding: 12px 20px;
    border: none;
    border-radius: 24px; /* 버튼에 둥근 테두리 적용 */
    cursor: pointer;
    margin-left: 5px; /* 오른쪽 여백 추가 */
}

.search-form button:hover {
    background-color: #f2f2f2; /* 호버 시 배경색 변경 */
}

.search-form .search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-form .search-button i {
    color: #757575;
}

.search-form .search-button:hover i {
    color: #333;
}
